<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geopdfviewer.android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainInterface"
            android:hardwareAccelerated="true"
            android:label="@string/app_showname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".select_page"
            android:hardwareAccelerated="true"
            android:label="图志"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".info_page"
            android:label="地理信息显示页面" />
        <activity
            android:name=".singlepoi"
            android:hardwareAccelerated="true"
            android:label="单个POI点信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pois"
            android:hardwareAccelerated="true"
            android:label="所有POI信息" />
        <activity
            android:name=".photoshow"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".tapeshow"
            android:hardwareAccelerated="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.android.tuzhi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".RecordTrail"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".register" />
        <activity android:name=".plqpoishow" />
        <activity android:name=".Activity_FileManage" />
        <activity android:name=".JZActivity" />
        <activity
            android:name=".HouseInfoWindow"
            android:label="@string/title_activity_house_info_window"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RightPersonInfoWindow"
            android:label="@string/title_activity_right_person_info_window"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ParcelInfoWindow"
            android:label="@string/title_activity_parcel_info_window"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>